*{
    
    text-align: center;
}

body{
    font-family: monospace;
}
    

.thumb {
    text-align: center;
    width: 1000px;
    height: 267px;
    display: inline-block;
    padding: 100px 100px;
}
  
img {
    padding:10px;
}
  
.fade {
    animation-name: fade;
    animation-duration: 2s;
}
  
@keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

h1{
    font-size: 70px;
    margin-top: 30px;
    font-family: 'Climate Crisis', cursive;
    letter-spacing: 5px;
}

h2{
    margin-top: -70px;
    font-size: 50px;
    font-family: 'Montserrat Alternates', sans-serif;
}

h3{
    font-size: 35px;
}

a{
    text-decoration: none;
    color:  #0070c9;
}

a:hover{
    color: #488edc;
}

.summary{
    width: 700px;
    font-size: 20px;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

#batman-wayne-family-adventures{
    height: 400px;
}

#cursed-princess-club{
    height: 425px;
}

#adventures-of-god{
    height: 400px;
}

#truebeauty{
    height: 350px;

}

#lore-olympus{
    height: 300px;
}

#can-i-take-it-back{
    height: 500px;
}

#purple-hyacinth{
    height: 400px;
}

#delusion{
    height: 400px;
}

#sweethome{
    height: 400px;
}

#not-even-bones{
    height: 400px;
}

#melvinas-therapy{
    height: 400px;
}

#escape-room{
    height: 400px;
}

/* for iphones - X/XS/11 Pro/12 Pro */
@media only screen 
  and (device-width: 375px) 
  and (device-height: 812px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
 
    .thumb {
        max-width: 350px;
        margin: 0 auto;
    }
    
    .summary {
        font-size: 16px;
    }
    
    img {
        max-width: 100%;
    }
    
    h1 {
        font-size: 28px;
    }

}

